<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.txl.web">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
        <activity android:name=".ui.WebActivity"
            android:process=":web"
            android:screenOrientation="landscape"
            android:launchMode="singleTask"/>
    </application>

</manifest>